altair
black
duckdb
email-validator
flake8
httpx
ipykernel
isort
matplotlib
mcp[cli]
mcp-server-motherduck
nox
numpy
openpyxl
pandas
plotly
polars
pyarrow
pylsp-mypy
pytest
pytest-cov
pytest-timeout
python-dotenv
python-lsp-ruff
python-lsp-server
requests
rich
scikit-learn
scipy
seaborn
sendgrid
sqlalchemy
statsmodels
xlsxwriter
snowflake-labs-mcp