altair
black
colorama
duckdb
flake8
ipykernel
isort
matplotlib
mcp-server-motherduck
mcp-snowflake-server
numpy
openpyxl
pandas
plotly
polars
pyarrow
pytest
pytest-cov
pytest-mock
pytest-timeout
rich
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
xlsxwriter
